
.container {
    padding: 1rem;
    width: 100vw;
    border: solid 1px black;
    height : auto;
    background: yellow;
}

.footer {
    height: 20vh;
    border: solid 1px black;
    background: green;

}

.header {
    display: flex;
    height: 10vh;
    width: 100vw;
    align-items: center;
    border: solid 1px black;
}

.logo {
    margin: 1rem;

}

.item-group {
    display: flex;
}

.item  {
    margin: 1rem;
}

.search-group {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.search {
    margin: 1rem;
}

@media (max-width:768px) {

    .header {
        display: flex;
        height: 15vh;
        width: 100vw;
        align-items: center;
        border: solid 1px black;
    }

    .logo {
        font-size : 2rem;
        margin : auto;
    }

    .item-group {
        display: none;
    }

    .search-group {
        display : none;
    }
}